

@utility btn{
    display: flex;
    padding: 12px 16px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: all 150ms;
}   


@utility btn-white{
    background-color: var(--color-white);
    &:hover{
        background-color: var(--color-gray-50);
    }
    &:active{
        background-color: var(--color-gray-100);
    }
}

@utility btn-green{
    color: var(--color-white);
    background-color: var(--color-green-700);
    &:hover{
        background-color: var(--color-green-800);
    }
    &:active{
        background-color: var(--color-green-900);
    }
}