---
import CoreValues from "../components/home/core-values.astro"
import Info from "../components/home/info.astro"
import Schools from "../components/home/schools.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <img
        class="w-full aspect-[3/4] md:aspect-video object-cover"
        src="https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
        alt=""
    >
    <section class="w-full flex flex-col items-center justify-center py-48 lg:py-96 px-24 md:px-64 gap-24">
        <h2 class="text-display-5 md:text-display-2 font-display text-green-700 text-center">
            Excellence though education
        </h2>
        <p class="max-w-[75ch] text-center text-text-body">
            As a primary school, we cater to children in their formative years, providing a safe, inclusive, and stimulating environment where curiosity, creativity, and confidence are cultivated every day. Our dedicated team of teachers and support staff work closely with students and parents to ensure that each child receives personalized attention and the support they need to thrive academically, socially, and emotionally.
        </p>
    </section> 
    <Info/>
    <Schools/>
    <CoreValues/>
</Layout>

