

<section class="px-64 py-96 flex flex-col items-center justify-center gap-64">
    <h3>Core values</h3>
    <ul class="flex gap-32 items-center">
        <li class="core-value">
            <h4>Community & Contribution</h4>
            <p>
                We believe in the power of working together. Whether in the classroom, on the field, or beyond the school gates, we aim to make a positive impact and support those around us.
            </p>
        </li>
        <div class="x-divider"/>
        <li class="core-value">
            <h4>Respect & Responsibility</h4>
            <p>
                We treat each other with kindness, listen with empathy, and take responsibility for our actions. Our school community thrives when everyone feels valued and safe to express themselves.
            </p>
        </li>
        <div class="x-divider"/>
        <li class="core-value">
            <h4>
                Curiosity & Growth
            </h4>
            <p>
                Learning is a lifelong journey. We encourage questions, embrace challenges, and support each student’s unique path to discovery and personal development.
            </p>
        </li>
    </ul>
</section>

<style>
    @reference "../../styles/global.css";

    .core-value{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        p{
            text-align: center;
        }
    }
</style>