

<section class="w-full py-80 px-64 flex flex-col items-center gap-40">
    <h2 class="font-display text-display-2 text-green-700">
        Our Schools
    </h2>
    <ul class="flex gap-32">
        <li class="bg-gray-50 school-card">
            <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="">
            <div>
                <h5>Early learning center</h5>
                <p class="mt-16 mb-20">
                    At our Early Learning Centre, we lay a strong foundation for young children through play-based learning, creativity, and care. Rooted in Christian values, we nurture each child’s heart and mind, helping them grow in kindness, confidence, and curiosity. Our loving environment supports every child’s first steps in faith and learning, creating a joyful start to their educational journey.
                </p>
                <a href="#" class="btn btn-white">Read more</a>
            </div>
        </li>
        <li class="bg-green-700 school-card">
            <img src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="">
            <div>
                <h5 class="text-white">Litroz primary</h5>
                <p class="mt-16 mb-20 text-white">
                    Our Primary School offers a vibrant and supportive environment where children are encouraged to discover their gifts and grow academically, socially, and spiritually. Guided by Christian principles, we integrate faith into everyday learning, helping students develop strong moral character alongside essential skills for life. With dedicated teachers and a Christ-centered approach, we aim to shape confident learners who walk in integrity and compassion.
                </p>
                <a href="#" class="btn btn-white">Read more</a>
            </div>
        </li>
        <li class="bg-gray-50 school-card">
            <img src="https://images.unsplash.com/photo-1524178232363-1fb2b075b655?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="">
            <div>
                <h5>Litroz boys</h5>
                <p class="mt-16 mb-20">
                    Litroz Boys is a Christian boarding school committed to shaping young men of purpose, discipline, and faith. Through a rigorous academic program, structured daily routines, and spiritual guidance, we prepare our students for leadership and service. At Litroz, boys grow into men of character—anchored in Christ, resilient in spirit, and ready to make a meaningful impact in the world.
                </p>
                <a href="#" class="btn btn-white">Read more</a>
            </div>
        </li>
    </ul>
</section>


<style>
    .school-card{
        flex: 1;

        img{
            width: 100%;
            aspect-ratio: 4/3;
        }

        div{
            padding: 40px;
        }
    }
</style>