

<nav class="flex items-center px-32 py-20 gap-24">
    <ul class="flex gap-16 w-full">
        <li>Academics</li>
        <li>About</li>
        <li>Contact us</li>
    </ul>
    <a href="/" class="text-display-2 font-display text-green-700">Litroz</a>
    <div class="w-full flex justify-end">
        <a href="/">About</a>
    </div>
</nav>