---
import {Menu} from "@lucide/astro";
---

<nav class="flex items-center px-32 py-20 gap-24">
    <a href="/" class="text-display-4 sm:text-display-2 font-display text-text-green">Litroz</a>
    <ul class="flex gap-16 max-sm:hidden">
        <li>Academics</li>
        <li>About</li>
        <li>Contact us</li>
    </ul>
    <div class="ml-auto sm:hidden">
        <Menu/>
    </div>
</nav>